# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# Prisma
prisma/migrations/**/migration_lock.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Postman (opcional - remova se quiser versionar)
# postman_collection.json
